* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4bf484;
}

.App-logo {
  height: 100px;
  margin: 10px; 
  pointer-events:none;
}

.App p {
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

h1 {
  display: flex;
  justify-content: center;
}

Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center ;
}
Input {
  margin: 10px;
}
Select{
  margin: 10px;
}
button{
  border-radius: .3rem;
  margin: .2rem;
  padding: .2rem;
  transition: 300ms;
}

button:hover{
  background-color:#89f5ad;
  color: #000;
  font-weight: bolder;
}
.infosBasicas{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.dataNascimento{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  margin-top: 2rem;
}
.infosContato{
  padding:2rem;
}
